<!DOCTYPE html>
<html lang="en">
<head>
    <title>注册</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body class="zhi no-auth">
<div class="index-main">
    <div class="index-main-body">
        <div class="index-header">
            <h1 class="logo hide-text"><img src="static/images/nk.png" alt=""></h1>
            <h2 class="subtitle">
                与世界分享你的知识、经验和见解
            </h2>
        </div>
        <div class="desk-front sign-flow clearfix sign-flow-simple">
            <div class="view view-signin" data-za-module="SignInForm" style="display: block;">
                <form action="{{ url_for('index.add_user') }}" id="regloginform" method="post">
                    <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
                    <div class="group-inputs">
                        <div class="email input-wrapper">
                            <input type="text" name="username" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required="">
                        </div>
                        <div class="input-wrapper">
                            <input type="password" name="password" aria-label="密码" placeholder="密码" required="">
                        </div>
                    </div>
                    <div class="button-wrapper command clearfix">
                        <button class="sign-button submit" type="submit">注册</button>
                        <a class="sign-button submit" href="{{ url_for('index.index') }}" role="button">已有账号？登录</a>
                    </div>
                    <div class="signin-misc-wrapper clearfix">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>